// All the SCSS Variables goes here

// font 
$font-family                                            : 'Nunito Sans', sans-serif;

// heading 
$headings-font-weight                                   : 700;

// card 
$card-border-width                                      : 0;
$card-spacer-x                                          : 2rem;
$card-spacer-y                                          : 2rem;

// forms 
$input-border-width                                     : 0;
$input-padding-y                                        : 1rem;
$input-padding-x                                        : 1rem;
$form-label-color                                       : #fafafa;